aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appnope
asgiref
asttokens
attrs
beautifulsoup4
certifi
charset-normalizer
click
comm
dataclasses-json
debugpy
decorator
distro
Django~=5.1
docx2txt
duckduckgo_search
executing
frozenlist
greenlet
gunicorn
h11
httpcore
httpx
idna
ipykernel
ipython
jedi
jiter
jsonpatch
jsonpointer
jupyter_client
jupyter_core
langchain~=0.2.14
langchain-community
langchain-core
langchain-experimental
langchain-openai~=0.1.22
langchain-text-splitters
langchainhub
langsmith
marshmallow
matplotlib-inline
multidict
mypy-extensions
nest-asyncio
networkx
numpy
openai
orjson
packaging
pandas
parso
pexpect
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
platformdirs
primp
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
pypdf
pyreqwest_impersonate
python-dateutil
python-dotenv~=1.0.1
pytz
PyYAML
pyzmq
regex
requests
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
tenacity
tiktoken
tk
tornado
tqdm
traitlets
types-requests
typing-inspect
typing_extensions
tzdata
urllib3
wcwidth
whitenoise
wikipedia
yarl

python-whois~=0.9.4

